@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=Open+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: #2f3133;
    --text-light-color: #fff;
    --main-theme-color: #00738c;
    --inactive-button-color: #a8cdce;
    --logout-color: #dd5656;
    --background-color: #d6ead4;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo', sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}